/vendor/
/build/
/bin/
/.cache/
/.vs/
/Sandbox/imgui.ini
/**/*.vcxproj.filters
/**/*.vcxproj.user
/**/*.vcxproj
/**/*.slnx

!/vendor/glad/include/
!/vendor/glad/src/
!/vendor/stb_image/*.cpp
!/vendor/stb_image/*.h
